// Specific CSS for your home-page
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.content-aligned {
  text-align: center;
}

.back {
  background-color: $black;
  color: $white;
  height: 100vh;
}

.back h1 {
  font-size: calc(2.4rem + 1.5vw);
}

.back h2 {
  font-size: calc(1.600rem + 0.9vw);
}

.back p {
  font-size: calc(0.879rem + 0.9vw);
}
