<div class="footer  bg-secondary">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    <a href="#"><i class="fa-solid fa-user"></i></a>
  </div>
</div>
