<div class="wrapper d-flex flex-column justify-content-between">
  <div class="container ">
    <div class="content-aligned py-3 container">
      <h1>GymBuddy</h1>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
