

.card-category {
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 350px;


  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.image-first-text{
  padding-left: 20px;
}

.flex-gap{
  flex-wrap: wrap;
  gap: 450px;
  padding-left: 30px;
}

.card-bottom-icon p{
  font-size: 16px;
}

.card-bottom-icon i {
  color: #FFCE34;
}

.card p {
  font-weight: normal;
  font-size: 16px;
}

.text-bottom p {
  font-weight: bold;
  font-size: 16px;
}
