
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon{
  background-color: #222222;
  transition: 0.5s background-color ease;
}

.navbar-light .navbar-brand {
  color:#FFCE34;
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
